<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhongguochu.demo.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="cn.zhongguochu.demo.entity.Test">
    <id column="id" jdbcType="VARCHAR" property="id" />
  </resultMap>
  <insert id="insert">
    insert into test(id) values (#{id})
  </insert>
</mapper>